{% extends 'layouts/base.njk' %}

{% block header_content %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/code.css">
{% endblock %}

{% block content %}
  <header class="post-header">
    <div class="inner">
      <h1>{{ title }}</h1>
      <time>{{ date | dateFilter }}</time>
    </div>
  </header>

  <section class="post">
    {{ content | safe }}
  </section>

  <section class="do-not-print">
    <nav class="inner" aria-label="post">
      <ul class="post-nav">

        <li class="previous">
          {% if prevPost.url %}
            <span>← Older</span>
            <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
          {% else %}
            <span>← Back</span>
            <a href="/work">All Posts</a>
          {% endif %}
        </li>

        <li class="next">
          {% if nextPost.url %}
            <span>Newer →</span>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          {% else %}
            <span>Back →</span>
            <a href="/work">All Posts</a>
          {% endif %}
        </li>

      </ul>
    </nav>
  </section>
{% endblock %}
